/**
 * Edulist 2 - General App Styles
 */

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 90%;
}

@media (min-width: 576px) {
  html { font-size: 100%; }
}

body {
  background: var(--background-color);
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

a {
  text-decoration: none;
  color: var(--purple);
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

.checklistitem-link-button,
.link-button {
  background: none;
  text-align: left;
  font-weight: 400;
  text-decoration: underline;
  color: var(--text-color);
  margin: 0;
  padding: 0 0 2px 0;
  display: inline;
  border-radius: 0;
}

img {
  width: 100%;
}

::selection {
  color: var(--white);
  background: var(--blue);
}

/**
 * Typography
 */

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--small);
}

/**
 * Lists
 */

ul, ol {
  padding: 0;
}

li span {
  position: relative;
  left: 10px;
}

/**
 * Buttons
 */

button {
  --buttonTextColor: var(--white);
  --buttonColor: var(--orange);
  --buttonBorder: none;
  --buttonBorderRadius: 4px;
  --buttonPadding: var(--button-padding);

  color: var(--buttonTextColor);
  background-color: var(--buttonColor);
  outline: none;
  border: var(--buttonBorder);
  font-weight: 400;
  border-radius: var(--buttonBorderRadius);
  padding: var(--buttonPadding);
  cursor: pointer;
}

button[disabled] {
  cursor: initial;
}

button:hover:not(:disabled) {
  opacity: 0.95;
}

button.small {
  font-size: var(--smallText);
}