/**
 * Styles for the modal
 */

.edu-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightGrey);
  width: 100vw;
  height: 100vh;
}

/**
 * Modal for type: None
 */

.edu-modal-none {
  background-color: var(--white);
  border-radius: var(--default-border-radius);
  box-shadow: var(--level-2);
  width: 90vw;
}

@media screen and (min-width: 768px) {
  .edu-modal-none {
    width: 50vw;
  }
}

/**
 * Modal for type: Slides
 */

.edu-modal-slides {
  background-color: var(--white);
  border-radius: var(--default-border-radius);
  box-shadow: var(--level-2);
  width: 90vw;
  height: 45vh;
}

@media screen and (min-width: 576px) {
  .edu-modal-slides {
    height: 60vh;
    max-width: 576px;
  }
}

@media screen and (min-width: 768px) {
  .edu-modal-slides {
    width: 70vw;
    height: 70vh;
    max-width: 922px;
  }
}

@media screen and (min-width: 1024px) {
  .edu-modal-slides {
    height: 90vh;
    max-width: 1037px;
  }
}

/* @media screen and (min-width: 1024px) {
  .edu-modal-slides {
    width: 1152px;
    height: 840px;
  }
} */

.ReactModal__Content {
    opacity: 0;
    transform: translateY(100px);
    transition: all 200ms ease-in-out;
}

.ReactModal__Content--after-open{
    opacity: 1;
    transform: translateY(0);
}

.ReactModal__Content--before-close{
    opacity: 0;
}